# PyYAML
# https://pypi.org/project/PyYAML/
# Needed to work with YAML files
pyyaml
#
# Tweepy
# https://pypi.org/project/tweepy/
# Needed to post or retrieve data from Twitter
tweepy
#
# insta-scrape
# https://pypi.org/project/insta-scrape/
# Needed to retrieve data from Instagram
insta-scrape
#
# python-youtube
# https://pypi.org/project/python-youtube/
# Needed to retrieve data from YouTube
python-youtube
# spotipy
# https://github.com/plamere/spotipy
# Needed to retrieve data from Spotify
spotipy
#
# Pillow
# https://pypi.org/project/Pillow/
# Needed to edit images
pillow
#
# opencv
# https://pypi.org/project/opencv-python/
# Needed to take a frame from a video. It can be removed when https://github.com/marco97pa/Blackpink-Data/issues/12 is fixed.
opencv-python
#
# billboard
# https://pypi.org/project/billboard.py/
# Needed to get Billboard charts
billboard.py